* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  margin: .5em 1em;
  display: block;
  margin: 2% 15%;
  background-color: color;
  border-bottom: 1px black solid;
}

.intro {
  font-size: 1.2em;
  line-height: 1.3em;
}

.link-style {
  text-decoration: none;
  color: #0645AD;
}

.final-intro-text {
  font-weight: bold;
  text-align: right;
}

#footer {
  clear: both;
  text-align: center;
  width: 70%;
  margin: 10px auto;
}

#footer ul {
  list-style-type: none;
  justify-content: center;
  display: flex;
  margin: 20px;
}

.footer-text {
  text-align: center;
  font-size: 13px sans-serif;
}

.footer-link {
  margin: 10px;
}


.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects-container {
  display: flex;
}

.projects-icon{
  height: 175px;
  min-width: 150px;
  max-width: 300px;
  width: 150px;
  line-height: 175px;
  margin: 2% 4%;
}
